@charset "UTF-8";

nav ul {
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 161, 85);
  padding: 20px 70px;
}

nav ul li {
  font-size: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#header {
  background: url(../img/4494237_m.jpg) no-repeat;
  height: 600px;
  background-size: cover;
}

.top_wrap h1 {
  font-size: 30px;
  color: #fff;
  background-color: rgb(229, 233, 25);
  padding: 20px 50px;
  float: right;
  margin: 275px;
}

#service {
  width: 80%;
  margin: 100px auto;
}

.section-title {
  font-size: 40px;
  padding-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  color: #00b909;
}

.service-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-left img {
  width: 80%;
  height: auto;
}

.service-right h3 {
  color: #44af4a;
  font-size: 20px;
  padding: 20px 0;
}

.service-right p {
  font-size: 15px;
  color: #555;
}

#news {
  width: 80%;
  margin: 100px auto;
}

.news-wrap {
  max-width: 450px;
  margin: 0 auto;
}

.news-wrap p {
  line-height: 2.5;
}

#price {
  width: 80%;
  margin: 100px auto;
}

.price_wrap table {
  border: double #13a70e 10px;
  width: 100%;
  text-align: center;
}

.price_wrap table tr {
  border: solid #13a70e 2px;
  padding: 10px;
}

.price_wrap table th {
  border: solid #13a70e 2px;
  padding: 10px;
}

.price_wrap table td {
  border: solid #13a70e 2px;
  padding: 10px;
}

#contact {
  background: rgb(241, 241, 241);
}

.form {
  width: 70%;
  margin: 0 auto;
}

.form label {
  font-size: 18px;
}

label {
  display: inline-block;
  width: 30%;
  line-height: 2;
}

input, textarea {
  box-sizing: border-box;
  border: solid #ddd 1px;
  width: 65%;
  margin-bottom: 15px;
}

input {
  padding: 6px;
}

textarea {
  vertical-align: top;
  height: 200px;
}

.button_submit {
  text-align: center;
}

.button {
  padding: 10px 50px;
  background-color: rgb(143, 168, 132);
  margin: 50px 0;
  font-weight: bold;
  border: none;
  color: #fff;
  border-radius: 30px;
}

#footer {
  background-color: rgb(197, 137, 87);
  padding: 50px;
  text-align: center;
  color: #fff;
}

/* JS・JQ（実践） */
.load-object,
.load-object::before,
.load-object::after {
  width: 16px;
  height: 84px;
  background: #fff;
  animation: loading 1s 8 ease-in-out;
  -webkit-animation: loading 1s 8 ease-in-out;
}

.load-object {
  margin: 0 auto;
  color: #fff;
  animation-delay: -0.2s;
  -webkit-animation-delay: -0.2s;
  position: relative;
}

.load-object::before,
.load-object::after {
  content: "";
  position: absolute;
  top: 0;
}

.load-object::before {
  animation-delay: -0.4s;
  -webkit-animation-delay: -0.4s;
  left: -24px;
}

.load-object::after {
  left: 24px;
}

@-webkit-keyframes loading {
  0%,
  80%,
  100% {
    height: 64px;
    box-shadow: 0 0;
  }
  40% {
    height: 80px;
    box-shadow: 0 -32px;
  }
}

@keyframes loading {
  0%,
  80%,
  100% {
    height: 64px;
    box-shadow: 0 0;
  }
  40% {
    height: 80px;
    box-shadow: 0 -32px;
  }
}

#load-animation {
  width: 100%;
  height: 100%;
  background: #0dc5c1;
  align-items: center;
  transition: all 0.3s;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}



#top {
  position: relative;
  height: 600px;
}

.top_wrap h1 {
  font-size: 30px;
  color: #fff;
  background-color: rgb(229, 233, 25);
  padding: 20px 50px;
  transform: translate(50%, 50%);
  position: absolute;
  top: 52%;
  right: 5%;
  z-index: 20;
  margin: 0;
}

.slideShow {
  position: relative;
  z-index: 1;
}

.slide_img1 {
  background: url(../img/top1.png);
}

.slide_img2 {
  background: url(../img/top2.png);
}

.slide_img3 {
  background: url(../img/top3.png);
}

.slide {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slick_prev,
.slick_next {
  width: 25px;
  height: 25px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  z-index: 5;
}

.slick_prev {
  left: 2.5%;
  transform: rotate(-135deg);
}

.slick_next {
  right: 2.5%;
  transform: rotate(45deg);
}

.slick-dots {
  margin: -80px 0 0 0;
  text-align: center;
  position: relative;
  z-index: 5;
}

.slick-dots li {
  margin: 0 5px;
  display: inline-block;
}

.slick-dots button {
  color: transparent;
  background: #fff;
  border-radius: 50%;
  outline: none;
  display: block;
}

.slick-dots .slick-active button {
  background: #fff;
}

.fadeUp {
  animation: fadeUpAnime 0.8s forwards; 
  opacity: 0;
}

.fadeLeft {
  animation: fadeLeftAnime 0.8s forwards; 
  opacity: 0;
  overflow: hidden;
}

.fadeRight {
  animation: fadeRightAnime 0.8s forwards;
  opacity: 0;
  overflow: hidden;
}

.fadeUpTrigger, .fadeLeftTrigger, .fadeRightTrigger {
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1; 
    transform: translateY(0); 
  }
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0; 
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1; 
    transform: translateX(0); 
  }
}